* {
  box-sizing: border-box;
}
@media screen and (min-width: 100px) {
  .warapper {
    overflow: hidden;
  }
}
.warapper {
  overflow: hidden;
}
.header {
  position: fixed;
  z-index: 5;
}

.topImage {
  height: auto;
  width: 100%;
  max-width: 1400px;
  margin-bottom: 120px;
}

.topImage-upper {
  height: auto;
  .swiper-slide {
    height: auto;
  }
}

.topImage-image2 {
  height: auto;
  width: 100%;
}

.topImage-image3 {
  height: auto;
  width: 100%;
}

.topImage-bottom {
  height: auto;
  width: 100%;
  display: flex;
  &__left {
    width: 40vw;
  }
  &__right {
    width: 60vw;
  }
}

.topImage-introduce {
  height: calc(100% - 22vh);
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.07vw;
  &--sentence1 {
    font-family:"YuMincho", serif;
    font-weight: lighter;
    font-size: 3.0vh;
    line-height: 2.5vh;
  }
  &--sentence2 {
    font-family: "YuGothic", sans-serif;
    font-weight: normal;
    font-size: 1.8vh;
  }
}

//------------------------line up欄----------------------------//
.lineUp {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.lineUp-products {
  width: 100%;
  overflow: hidden;
  display: block;
  align-items: center;
  li {
    margin: 48px;
  }
}

.lineUp-product {
  float: left;
  width: 352px;
  margin-top: 48px;
  position: relative;
  a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  :hover {
    background-color: rgba($color: #fff, $alpha: 0.30);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
  }
}

.lineUp-image {
  height: auto;
  width: 22.84vw;
}

.lineUp-information {
  width: 22.84vw;
  padding: 8px;
  &--detail {
    font-size: 0.5vw;
  }
}
//------------------------line up欄ここまで----------------------------//


.seeMore {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 120px;
  &--btn {
    height: 5vh;
    width: 240px;
    border: 1px solid #111;
    background-color: #fff;
    color: #111;
    line-height: 1.5;
    font-size: 1.0vh;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
  }
  :hover {
    background-color: #111;
    color: #fff;
  }
}


//------------------------ブログ欄----------------------------//
.lineUp-blogs {
  width: 100vw;
  max-width: 1200px;
  overflow: hidden;
  margin-bottom: 10vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.lineUp-blog {
  height: auto;
  float: left;
  margin: 0 -1% 30px;
  margin: 16px auto;
  padding: 0;
  position: relative;
  a {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  :hover {
    background-color: rgba($color: #fff, $alpha: 0.30);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
  }
}

.blog-image {
  height: auto;
  width: 13.8vw;
}

.lineUp-blogInformation {
  padding: 8px;
  line-height: 2.5vh;
  &--date {
    display: block;
  }
}

.blog-seeMore {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 120px;
  &--btn {
    height: 5vh;
    width: 240px;
    border: 1px solid #111;
    background-color: #fff;
    color: #111;
    line-height: 1.5;
    font-size: 1.0vh;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all  0.3s ease;
  }
  :hover {
    background-color: #111;
    color: #fff;
  }
}

//------------------------ブログ欄ここまで----------------------------//

//------------------------shop欄------------------------------------//
.lineUp-map {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 160px;
}
.map {
  display: flex;
  height: auto;
  width: 100%;
  max-width: 1400px;
}

.googleMap {
  width: 50%;
}

.adress {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    font-size: 1.7vh;
    align-items: center;
  }
}

//------------------------shop欄ここまで------------------------------------//

.heading {
  font-size: 2.0vh;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
